@model Asset.ViewModel.AssetVM.AssetIndecList;
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Patron> SignInManager;
@inject UserManager<Patron> UserManager;
@using Asset.Data.Model;

<div class="sectionHeading">
    <form asp-controller="LibraryAsset" asp-action="Search" method="post">
        <div class="searchForm">
            <input asp-for="SearchQuery" type="text" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
            <button type="submit" class="btn btn-forumSearch">
                <i class="fas fa-search"></i>
            </button>
        </div>
        @*
            <input asp-for="Forum.Id" type="hidden" name="id" />*@
    </form>
</div>
<hr class="solid" />

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
<div>
    <a class="btn float-right btn-success" style="margin-right:55px;" asp-action="CreateAsset">
        <i class="fas fa-plus fa-2x"></i>
    </a>
</div>

}

<div class="row col-md-12 ml-2 sectionHeading" style="margin-top:40px;">


    @foreach (var item in Model.ListAssetIndex)
    {
        <div class="img-row">
            <div class="img-container">
                <div class="img-div" style="background-image:url(@item.ImageUrl);">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="UpdateAsset" asp-route-id="@item.Id" class="btn text-white update btn-sm btn-danger">Update</a>

                    }

                    <button class="photos">PHOTOS</button>
                    <a href="" class="copies">@item.NumberOfCopies Copies</a>
                    <p class="cost">$@item.Cost.ToString("F")</p>
                </div>
                <div class="img-content">
                    <h3>@item.Title</h3>
                    <p class="desc mt-2 mono-lg">
                        @item.Description
                    </p>
                </div>
                <a asp-action="Detail" asp-route-id="@item.Id" class="btn-checkout">Checkout</a>
            </div>

        </div>

    }

</div>



