@model Asset.ViewModel.AssetVM.AssetIndex;


<div class="wrapper">
    <div class="main">
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-10 col-xl-12">
                        <form method="post" enctype="multipart/form-data" asp-action="UpdateAsset">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h5 class="text-white text-center">Employee info</h5>

                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="inputEmail4" class="form-label">Title</label>
                                        <input asp-for="@Model.Title" class="form-control" id="inputEmail4" placeholder="Book Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail4" class="form-label">Book Description</label>
                                        <textarea asp-for="@Model.Description" class="form-control" id="inputEmail4" placeholder="Book all about"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="StatusId" for="inputEmail4" class="form-label">Status</label>
                                        <select asp-for="@Model.StatusId" asp-items="ViewBag.StatusId" class="form-control" id="inputEmail4" placeholder="Book Name"></select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail4" class="form-label">Year</label>
                                        <input asp-for="@Model.Year" type="number" class="form-control" id="inputEmail4" placeholder="Year">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail4" class="form-label">Cost</label>
                                        <input asp-for="@Model.Cost" type="number" class="form-control" id="inputEmail4" placeholder="Cost">
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group col-md-3 text-center">
                                            <label asp-for="ImageUrl">Image Photo</label>
                                        </div>
                                        <div class="btn btn-sm btn-primary btn-icon-text text-white">

                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <input asp-for="ImageUrl" type="file" value="Upload" />
                                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="LocationId" for="inputEmail4" class="form-label">Location</label>
                                        <select asp-for="@Model.LocationId" asp-items="ViewBag.BranchId" class="form-control" id="inputEmail4" placeholder="Book Name"></select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputEmail4" class="form-label">Copies</label>
                                        <input asp-for="@Model.NumberOfCopies" type="number" class="form-control" id="inputEmail4" placeholder="Copies">
                                    </div>

                                    <input asp-for="@Model.LibraryTopicId" type="hidden" />

                                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                                    <a asp-action="Index" class="btn text-white float-right btn-outline-primary">Go Back</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>


